AddType text/cache-manifest manifest
<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On 

ExpiresDefault "access plus 1 month"
ExpiresByType application/javascript "access plus 1 year"
</IfModule>
